.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-wrapper {
  width: 700px;
  height: 700px;
  background-color: yellowgreen;
  position: relative;
  border-radius: 50%;
}

.first {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;
  left: 150px;
  top: 155px;
}
.second {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;
  right: 150px;
  top: 155px;
}
.third {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  right: 173px;
  top: 183px;
}
.fourth {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  left: 173px;
  top: 180px;
}

.fifth {
  position: absolute;
  height: 200px;
  width: 400px;
  background-color: black;
  border-radius: 50%;
  bottom: 100px;
  left: 240px;
  left: 155px;
}

.sixth {
  position: absolute;
  height: 200px;
  width: 500px;
  background-color: yellowgreen;
  border-radius: 50%;
  bottom: 170px;
  left: 115px;
}
.seventh {
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: red;
  bottom: -160px;
  border-radius: 50% 50% 8px 8px;
}

.eigth {
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: red;
  bottom: -160px;
  right: 10px;
  border-radius: 50% 50% 8px 8px;
}
